<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Parallel test suite" parallel="tests" thread-count="2">
	<listeners>
		<listener class-name="org.uncommons.reportng.HTMLReporter" />
		<listener class-name="org.uncommons.reportng.JUnitXMLReporter" />
		<!-- <listener class-name="org.seleniumworks.essentials.Listeners" /> -->		
	</listeners>
	<test name="Test on Firefox">
		<parameter name="browser" value="Firefox" />
		<classes>
			<class name="demo.specs.Demo_test" />
		</classes>
	</test>

</suite>