<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Parallel test suite" parallel="tests" thread-count="2">

	<test name="Test on Firefox">
		<parameter name="browser" value="Firefox" />
		<classes>
			<class name="demo.specs.Home_page" />
		</classes>
	</test>

</suite>